################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AdminLteAspNetCoreMVC1/.vs/AdminLteAspNetCoreMVC1/v15/Server/sqlite3
/AdminLteAspNetCoreMVC1/.vs/AdminLteAspNetCoreMVC1/DesignTimeBuild
/AdminLteAspNetCoreMVC1/.vs/AdminLteAspNetCoreMVC1/v15
/AdminLteAspNetMVC1/.vs
/AdminLteAspNetMVC1/packages
/AdminLteAspNetMVC1/AdminLteAspNetMVC1/bin
/AdminLteAspNetMVC1/AdminLteAspNetMVC1/obj/Debug
/AjaxCallRestWebApi1/packages
/AjaxCallRestWebApi1/AjaxCallRestWebApi1/obj/Debug
/AjaxCallRestWebApi1/AjaxCallRestWebApi1/bin
/AjaxCallRestWebApi1/AjaxCallRestWebApi1.Tester/obj/Debug
/AjaxCallRestWebApi1/BootstrapLeftMenu1/.vs
/AjaxCallRestWebApi1/BootstrapLeftMenu1/bin
/AjaxCallRestWebApi1/BootstrapLeftMenu1/obj/Debug
/AjaxCallRestWebApi1/BootstrapLeftMenu1/packages
/AjaxCallRestWebApi1/WebApiClientTest/bin/Debug
/AjaxCallRestWebApi1/WebApiClientTest/obj/Debug
/AjaxCallRestWebApi1/.vs
