################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AdminLteAspNetCoreMVC1/.vs/AdminLteAspNetCoreMVC1/v15/Server/sqlite3
/AdminLteAspNetCoreMVC1/.vs/AdminLteAspNetCoreMVC1/DesignTimeBuild
/AdminLteAspNetCoreMVC1/.vs/AdminLteAspNetCoreMVC1/v15
/AdminLteAspNetMVC1/.vs
/AdminLteAspNetMVC1/packages
/AdminLteAspNetMVC1/AdminLteAspNetMVC1/bin
/AdminLteAspNetMVC1/AdminLteAspNetMVC1/obj/Debug
/AjaxCallRestWebApi1/packages
/AjaxCallRestWebApi1/AjaxCallRestWebApi1/obj/Debug
/AjaxCallRestWebApi1/AjaxCallRestWebApi1/bin
/AjaxCallRestWebApi1/AjaxCallRestWebApi1.Tester/obj/Debug
/AjaxCallRestWebApi1/BootstrapLeftMenu1/.vs
/AjaxCallRestWebApi1/BootstrapLeftMenu1/bin
/AjaxCallRestWebApi1/BootstrapLeftMenu1/obj/Debug
/AjaxCallRestWebApi1/BootstrapLeftMenu1/packages
/AjaxCallRestWebApi1/WebApiClientTest/bin/Debug
/AjaxCallRestWebApi1/WebApiClientTest/obj/Debug
/AjaxCallRestWebApi1/.vs
/EF_Test1/EF_Test1/obj/Debug
/EF_Test1/EF_Test1/bin/Debug
/EF_Test1/EF_FromDBEFDesigner/bin/Debug
/EF_Test1/EF_FromDBEFDesigner/obj/Debug
/EF_Test1/EF_FromDBCodeFirst/obj/Debug
/EF_Test1/EF_FromDBCodeFirst/bin/Debug
/EF_Test1/.vs/EF_Test1/v15
/AdminLteAspNetMVC1/EMS.Utility/obj/Debug
/AdminLteAspNetMVC1/EMS.Utility/bin/Debug
/AdminLteAspNetMVC1/EMS.Model/obj/Debug
/AdminLteAspNetMVC1/EMS.DataProvider/obj/Debug
/AdminLteAspNetMVC1/EMS.DataProvider/bin/Debug
/AdminLteAspNetMVC1/EMS.Common/bin/Debug
/AdminLteAspNetMVC1/EMS.Common/obj/Debug
/AdminLteAspNetMVC1/EMS.BL/obj/Debug
/AdminLteAspNetMVC1/EMS.BL/bin/Debug
/AdminLteAspNetMVC1/EMS.Model/bin/Debug
/EF_Test1/packages
/DotNetRemotingSample1/RemotingServer/obj/Debug
/DotNetRemotingSample1/RemotingServer/bin/Debug
/DotNetRemotingSample1/RemotingLibrary/obj/Debug
/DotNetRemotingSample1/RemotingLibrary/bin/Debug
/DotNetRemotingSample1/RemotingClient/obj/Debug
/DotNetRemotingSample1/RemotingClient/bin/Debug
/DotNetRemotingSample1/.vs/DotNetRemotingSample1
/DotNetRemotingSample2/.vs/DotNetRemotingSample2/v15
/DotNetRemotingSample2/RemotingClient/bin/Debug
/DotNetRemotingSample2/RemotingClient/obj/Debug
/DotNetRemotingSample2/RemotingLibrary/bin/Debug
/DotNetRemotingSample2/RemotingLibrary/obj/Debug
/DotNetRemotingSample2/RemotingServer/bin/Debug
/DotNetRemotingSample2/RemotingServer/obj/Debug
/EmqttdSample1/.vs/EmqttdSample1/v15
/EmqttdSample1/EmqttdClient/bin/Debug
/EmqttdSample1/EmqttdClient/obj/Debug
/EmqttdSample1/EmqttdSample1/bin/Debug
/EmqttdSample1/EmqttdSample1/obj/Debug
/EmqttdSample1/packages/M2Mqtt.4.3.0.0
/DevExpressControlsSample1/.vs/DevExpressControlsSample1/v15
/DevExpressControlsSample1/DevExpressControlsSample1/bin/Debug
/DevExpressControlsSample1/DevExpressControlsSample1/obj/Debug
/DevExpressControlsSample1/packages
/BatteryTester0213
/DevExpressControlsSample1/.vs/config
