@using EMS.GlobalResources
@model EMS.Model.User.UserModel

@{
    ViewBag.Title = "Index";
}

<div style="display: none;" data-element="data-VmTblUsers">
    <span data-url="create-@Url.Action("Create", "VmTblUsers")"></span>
    <span data-url="update-@Url.Action("Update", "VmTblUsers")"></span>
    <span data-url="delete-@Url.Action("Delete", "VmTblUsers")"></span>
    <span data-url="fresh-@Url.Action("Index", "VmTblUsers")"></span>
    <span data-text="edit-@CommonResource.Page_EditDialogTitle"></span>
    <span data-text="new-@CommonResource.Page_NewDialogTitle"></span>
    <span data-text="delete-@MessageResource.Message_ConfirmDeletion"></span>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
    @using (Ajax.BeginForm("AjaxForm", "VmTblUsers", new AjaxOptions { HttpMethod = "Post" }, new { role = "form" }))
    {
        <div>
            <label for="i1">第一</label>
            <input type="text" name="Field1" id="i1" />
        </div>
        <div>
            <label for="i2">第二</label>
            <input type="text" name="Field2" id="i2" />
        </div>
        <div>
            <label for="i3">第三</label>
            <input type="text" name="Field3" id="i3" />
        </div>
        <input type="submit" value="提交" />
    }

    @Ajax.ActionLink("获取简单内容", "GetTableContent", new AjaxOptions { UpdateTargetId = "partialDiv3", InsertionMode = InsertionMode.InsertAfter, HttpMethod = "Get" })
    <div id="partialDiv3"></div>

    <div class="row" data-element="search-VmTblUsers">
        @using (Html.BeginForm("Index", "VmTblUsers", FormMethod.Get, new { @id = "form-search" }))
        {
            @Html.Partial("_Search", Model.Search)
        }
    </div>
    <div class="row" data-element="grid-VmTblUsers">
        @Html.Partial("_ListContainer", Model)
    </div>


</p>


